

{% extends "AcmeWebUIBundle::layouts/accountbase.html.twig" %}

{% block content %}
    <div class="admin-content">

        <div class="am-cf am-padding">
          <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户优惠券详情</strong></div>
        </div>
    
    <ul>
          {% for user in users %}
            <li class="coup">
             用户名：{{ user.username }}  &nbsp &nbsp &nbsp 昵称： {{ user.account ? user.account.name : "" }}

             <br>
              <span class="cou">收藏的课程:</span> 
              <ul>
               
                {% for cours in user.course %}
                

                  <li class="size">

                      课程名称：{{ cours.title }} &nbsp  课程图片： {{ cours.photo }}  &nbsp 课程地址： {{ cours.tcvideourl }}

                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
    </ul>

         
  </div>

  
{% endblock %}
