{% extends "AcmeWebUIBundle::layouts/adminskin.html.twig" %}

{% block content %}

   {{ form_start(edit_form) }}

      <div class="cont">

  		    <div class="edit_form">
  	 
        			<label for="edit_form.title" class="lab"> Title </label>
        			{{ form_widget( edit_form.title,{'attr': {'class': 'inp'}} ) }}

              <label for="edit_form.photo" class="lab"> Photo </label>
              {{ form_widget( edit_form.photo,{'attr': {'class': 'inp'}} ) }}

              <label for="edit_form.price" class="lab"> Price </label>
              {{ form_widget( edit_form.price,{'attr': {'class': 'inp'}} ) }}

              <label for="edit_form.duration" class="lab"> Duration </label>
              {{ form_widget( edit_form.duration,{'attr': {'class': 'inp'}} ) }}

              <label for="edit_form.tcvideourl" class="lab"> TcVideoUrl </label>
              {{ form_widget( edit_form.tcvideourl,{'attr': {'class': 'inp'}} ) }}

          </div>

      </div>

      <input type="submit" value="修改" style="margin-left:270px;margin-top:20px;width:100px;height:30px;">

   {{ form_end(edit_form) }}

 
{% endblock %}
