{% extends 'AcmeWebUIBundle::layouts/adminskin.html.twig' %}

{% block content %}

   {{ form_start(new_form) }}

      <div class="cont">
         <div class="new_form">

            <label for="new_form.course" class="lab"> Course </label>
            {{ form_widget(new_form.course,{'attr': {'class': 'inp'}}) }}

            <label for="new_form.title" class="lab"> Title </label>
            {{ form_widget(new_form.title,{'attr': {'class': 'inp'}}) }}

            <label for="new_form.photo" class="lab"> Photo </label>
            {{ form_widget(new_form.photo,{'attr': {'class': 'inp'}}) }}

            <label for="new_form.duration" class="lab"> Duration </label>
            {{ form_widget(new_form.duration,{'attr': {'class': 'inp'}}) }}

            <label for="new_form.tcvideourl" class="lab"> TcVideoUrl </label>
            {{ form_widget(new_form.tcvideourl,{'attr': {'class': 'inp'}}) }}
     
         </div>
      </div>  

      <input type="submit" value="添加" style="margin-left:280px;margin-top:30px;width:100px;height:30px;">

    {{ form_end(new_form) }}

{% endblock %}