{% extends 'AcmeWebUIBundle::layouts/adminskin.html.twig' %}

{% block content %}

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"> Course_Item </strong> </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
      
	          <table class="am-table am-table-striped am-table-hover table-main">
		        
		            <tr>
		              <td> </td>
		              <td class="am-hide-sm-only">ID</td>
		              <td class="am-hide-sm-only">Title</td>
		              <td class="am-hide-sm-only">Photo</td>
		              <td class="am-hide-sm-only">Duration</td>
		              <td class="am-hide-sm-only">TcVideoUrl</td>
		              <td>操作</td>
		            </tr>

                    {% for item in items %}
	                    <tr>
	                      <td><input type="checkbox" /></td>
			              <td class="am-hide-sm-only">{{ item.id }}</td>
			              <td class="am-hide-sm-only">{{ item.title }}</td>
			              <td class="td">{{ item.photo }}</td>
			              <td class="am-hide-sm-only">{{ item.duration }}</td>
			              <td class="td">{{ item.tcvideourl }}</td>
			              <td>
			                <div class="am-btn-toolbar">
			                  <div class="am-btn-group am-btn-group-xs">

			                     <a href="{{ path('item_edit_path',{ id : item.id }) }}">
					                 <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
					             </a>  

					            <div class="del">
				                   {{ form_start( delete_form, { 'action': path( 'item_delete_path', { 'id' : item.id } ) } ) }}                    
				                   {{ form_widget( delete_form ) }}  
				                   <input type="submit" value="删除" />
				                   {{ form_end(delete_form) }}
				                </div> 				               
					             
			                  </div>
			                </div>
			              </td>
	                    </tr>
                    {% endfor %}
		    
	          </table>
         
      </div>

    </div>
 
{% endblock %}