{% extends 'AcmeWebUIBundle::layouts/adminskin.html.twig' %}

{% block content %}

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">Category</strong> </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
      
	          <table class="am-table am-table-striped am-table-hover table-main">
		        
		            <tr>
		              <td> </td>
		              <td class="am-hide-sm-only">ID</td>
		              <td class="am-hide-sm-only">Title</td>
		              <td>操作</td>
		            </tr>

                    {% for category in categories %}
	                    <tr>
	                      <td><input type="checkbox" /></td>
			              <td class="am-hide-sm-only">{{ category.id }}</td>
			              <td class="am-hide-sm-only">{{ category.title}}</td>
			              <td>
			                <div class="am-btn-toolbar">
			                  <div class="am-btn-group am-btn-group-xs">

			                     <a href=" {{ path('category_edit_path', { id : category.id })  }} ">
					                 <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
					             </a>   					               
					             <div class="del">
				                   {{ form_start( delete_form, { 'action': path( 'category_delete_path', { 'id' : category.id } ) } ) }}                    
				                   {{ form_widget( delete_form ) }}  
				                   <input type="submit" value="删除" />
				                   {{ form_end(delete_form) }}
				                 </div>
			                  </div>
			                </div>
			              </td>
	                    </tr>
                    {% endfor %}
		    
	          </table>
         
      </div>

    </div>
 
{% endblock %}