{% extends "AcmeWebUIBundle::layouts/accountbase.html.twig" %}

{% block content %}
    <div class="admin-content">


        <div class="am-cf am-padding">
          <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">会员列表</strong></div>

        </div>

         
         <table border=1 class="bor" style="margin-left:10px;"> 
          
          <thead>
             <tr>
                <th></th>         
                <th>ID</th>
                <th>优惠券金额</th>
                <th>优惠券种类</th>
                <th>最低消费</th>
                <th>截止时间</th>
                <th>操作</th>
             </tr>  
          </thead> 

          <tbody>
              {% for coupon in coupons %}        
         
                 <tr> 
                    <th>
                       <input type="checkbox" style="width:15px;height:15px;">
                    </th>
                    <td>{{ coupon.id }}</td>
                    <td>{{ coupon.amount }}</td>
                    <td>{{ coupon.species}}</td>
                    <td>{{ coupon.minmoney}}</td>
                    <td>{{ coupon.time}}</td>
                    <td>
                        {{ form_start( delete_form, { 'action': path( 'coupons_delete_path', {'id':coupon.id})}) }}                    
                        {{ form_widget( delete_form ) }}  
                             <input type="submit" value="删除" />
                        {{ form_end(delete_form) }}

                    </td>
                 </tr>
    
              {% endfor %}
            </tbody>
             
         </table>
  </div>
{% endblock %}